body{
    background-color: deepskyblue;
    font-family: monospace;
    font-size: 12px;
    color: aliceblue;
}

button{
    background-color: deepskyblue;
    font-family: monospace;
    font-size: 12px;
    color: aliceblue;
}